.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 999999;
  pointer-events: visible;
  opacity: 1;
  transition: opacity 1000ms ease-out;

  &--finished {
    opacity: 0;
  }

  &--hidden {
    display: none;
  }
}
